<% if user_signed_in? %>
  <% provide(:title, current_user.username) %>

<%# container id="signed_in" %>

  <section id="extension-section">
    <div id="extension-nav" class="pull-left">
      <span id="simple-menu" class="expand_icon sprite"></span>
      <span id="simple-nav" class="new_icon sprite"></span>
      <%# <%= render 'shared/note_form' %>
    </div>
    <div id="extension_views" class="pull-right">
      <%= render 'features/sort' %>
      <span class="freeform_icon sprite" ></span>
      <span class="grid_icon sprite" ></span>
      <span class="list_icon sprite" ></span>
      <span class="mindmap_icon sprite" ></span>
    </div>
  </section>

  <section id="notebook-section">
    <h3><%= current_user.username %>'s Notebook</h3>
    <section id="note-section">
      <%= render 'shared/note_section' %>
    </section>
  </section>
 
<% else %>
  <%= render 'main/landing' %>
<% end %>
