<% if user_signed_in? %>
  <% provide(:title, current_user.username) %>

  <body>
    <%= render 'layouts/header_in' %>
    <div class="container" id="main_container">
      <%= render partial: 'layouts/flash', :locals => { :flash => flash }%>
      <%= render 'layouts/left_panel' %>
      <%= render 'layouts/top_panel' %>
      <%= render 'layouts/center_panel' %>
    </div>
  </body>

<% else %>

  <body id="signed_out">
    <%= render 'layouts/header_out' %>
    <div class="container" id="main_container">
    <%= render partial: 'layouts/flash', :locals => { :flash => flash }%>
      <%= render 'main/landing' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>

<% end %>
