<% if user_signed_in? %>
  <% provide(:title, current_user.username) %>
    <div id="sidr">
      <h2 id="side-notebooks">
        <span class="arrow_down_icon sprite"></span>
        Notebooks
      </h2>
      <h2 id="side-recent-notes">
        <span class="arrow_down_icon sprite"></span>
        Recent Notes
      </h2>
      <div id="side-user-recent-notes"><%= render template: 'sidebar/recent_notes' %></div>
      <h2 id="side-notes">
        <span class="arrow_down_icon sprite"></span>
        Notes
      </h2>
      <div id="side-user-notes"><%= render template: 'sidebar/short_notes' %></div>
      <h2 id="side-tags">
        <span class="arrow_down_icon sprite"></span>
        Tags
      </h2>
      <div id="side-user-tags"><%= render 'features/taglist' %></div>
    </div>
  <section id="feature_bar">
    <div class="inline-left">
      <button id="simple-menu"> <i class="icon-align-justify"></i> </button>
    </div>
    <span id="save_flash">Changes Saved!</span>
    <div class="inline-left"> <%= render 'shared/note_form' %> </div>
    <div id="extension_views" class="pull-right">
      <%= render 'features/sort' %>
      <span id="freeform_view" class="freeform_icon sprite" ></span>
      <span id="grid_view" class="grid_icon sprite" ></span>
      <span id="list_view" class="list_icon sprite" ></span>
      <span id="mindmap_view" class="mindmap_icon sprite" ></span>
    </div>
  </section>
  <section id="notebooks_section">
    <h3><%= current_user.username %>'s Notebook</h3>
    <section id="notes_section">
    <div class="span8">
      <div>
        <%= render 'shared/notebook' %>
      </div>
    </div>
    </section>
  </section>
 
<% else %>

	<div class="center hero-unit">
	  <h1>Welcome to Notable</h1>

	  <p>
	    This is the home page for the prequel app described in
	    <a href="http://productivityanywhere.com">Productivity Anywhere</a>.
	    It is a next generation note-taking tool that gives you a new way to organize your thoughts to make more effective decisions.
	  </p>

	  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
	</div> 

	<div class="center">
	<%= link_to image_tag("flower.jpg", alt: "Flower"), '#' %>
	</div>
<% end %>
