<%# <% cache note do %>
  <%= content_tag_for :li, note do %>
    <span class="content"><%= best_in_place note, :content  %></span>
    <div class="filepicker_link">
      <% note.notable_filepickers.each do |file| %>
        <%= link_to "View File", file.url %></br>
      <% end %>
    </div>

    <%= link_to "<i class='icon-tags'></i>".html_safe, load_tags_path(note), remote: true %>
    <span id=<%="tags_#{note.id}" %>>
      <%= raw note.tags.map(&:name).map { |t| link_to t, filter_tag_path(t), remote: true }.join(', ') %>
    </span>
    
    <div id=<%="note_#{note.id}_tags"%>></div>
   
    <span class="timestamp">
      Posted <%= time_ago_in_words(note.created_at) %> ago.
    </span>
    <% if current_user == note.user %>
      <%= link_to "<i class='icon-trash'></i>".html_safe, note, 
        method: :delete, data: { confirm: "You sure?" }, 
        class: "trash", remote: true, title: "Trash" %>

      <%= link_to image_tag("reminder.png", alt: "reminder", 
        size: "15x15"),'javascript:void(0)', class: "remind", title: "Remind Me" %>

      <%= link_to image_tag("duplicate@2x.png", alt: "duplicate", 
        size: "15x15"), note, method: :duplicate, class: "duplicate",
        title: "Duplicate" %>

      <input type="filepicker"
        data-fp-apikey="AIEVEYpUyS9Srvu5qwlnJz" 
        data-fp-button-text="<i class='icon-folder-open'></i>".html_safe
        data-fp-container="modal"
        data-fp-class="filepicker" 
        data-fp-maxsize="10485760" 
        data-fp-mimetypes="*/*" 
        data-fp-multiple="true" 
        data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GOOGLE_DRIVE,BOX,EVERNOTE,GITHUB,WEBCAM">

      <div class="handle"><span class="icon-resize-vertical">
        </span></div>

    <% end %>
    <%= render 'features/reminders' %>    
  <% end %>
<%# <% end %>
