<%# <% cache note do %>
  <%= content_tag_for :li, note do %>
    <span class="content"><%= best_in_place note, :content  %></span>
    <div class="filepicker_link">
      <% note.notable_filepickers.each do |file| %>
        <%= link_to "View File", file.url %></br>
      <% end %>
    </div>
   
    <% if current_user == note.user %>
      <div id="note-icons">

      <%= link_to "", note, method: :delete, data: { confirm: "You sure?" },
        class: "trash trash_icon sprite", remote: true, title: "Trash" %>

      <%= link_to "",'javascript:void(0)', class: "remind reminder_icon sprite", title: "Remind Me" %>

      <%= link_to "", note, method: :duplicate, class: "duplicate duplicate_icon sprite",
        title: "Duplicate" %>

      <input type="filepicker" class="attach_icon sprite" 
        data-fp-apikey="AIEVEYpUyS9Srvu5qwlnJz" 
        data-fp-button-text="<span class='attach_icon sprite'></span>".html_safe
        data-fp-container="modal"
        data-fp-class="filepicker" 
        data-fp-maxsize="10485760" 
        data-fp-mimetypes="*/*" 
        data-fp-multiple="true" 
        data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GOOGLE_DRIVE,BOX,EVERNOTE,GITHUB,WEBCAM">

      <%= link_to "", load_tags_path(note), class: "tag_icon sprite", remote: true %>
      <span class="list-tags" id=<%="tags_#{note.id}" %>>
        <%= raw note.tags.map(&:name).map { |t| link_to t, filter_tag_path(t), remote: true }.join(', ') %>
      </span>
      <div id=<%="note_#{note.id}_tags"%>></div>
      </div>

      <div class="handle"><span class="icon-move">
        </span></div>


      <div>
        <% note.items.each do |item| %>
          <div id=<%="note_item_#{item.id}"%>>
            <ul id=<%= "item_#{item.id}" %> contenteditable="true" class="items_section">
              <%= "#{item.data}".html_safe %>
            </ul>
          <div>
        <% end %>
      </div>
    <% end %>
    <%= render 'features/reminders' %>
  <% end %>
<%# <% end %>





