<% provide(:title, 'Edit Note') %>

<h1>Update Note</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@note) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h2>Edit Note</h2>
      <%= f.label :content %>
      <%= f.text_field :content %>
      
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list %>

      <%= f.submit "Update Note", class:"btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

