<% provide(:title, @user.username) %>
<h1>Profile Information</h1>
<div class="row">
  <div class="span6 offset3 profile_info">
    <h2><strong>Username:</strong> <%= @user.username %> </h2>
    <h2><strong>Email:</strong> <%= @user.email %> </h2>
    <h2><strong>Phone Number:</strong> 
      <%= display_number(@user.phone_number) %>
    </h2>
    <h2><strong>Note Count:</strong> <%= @user.notes.count %> </h2>
    <% if Rails.env.development? %>
      <h2><strong>Sendhub ID:</strong> <%= @user.sendhub_id %> </h2>
    <% end %>    
    <%= link_to "Edit Profile", edit_user_path(current_user), 
      class: "btn btn-large btn-primary" %>
  </div>
</div>