<li id="<%= note.id %>">
  <span class="content"><%= note.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(note.created_at) %> ago.
  </span>

  <% if current_user?(note.user) %>
  <%= link_to '<i class="icon-trash"></i>'.html_safe, note, method: :delete, 
  	data: { confirm: "You sure?" }%>
  <% end %>

  <%= link_to "Remind Me", '#', class: "btn pull-right remind" %>

  <% unless current_user.sendhub_id.nil? %>
    <div class="btn-group remind_times">
      <%= link_to "Right Now", reminders_create_path, class: "badge badge-success", remote: true %>
      <%= link_to "30 Minutes", '#', class: "badge badge-warning", remote: true %>
      <%= link_to "In an Hour", '#', class: "badge badge-important", remote: true %>
      <%= link_to "Tomorrow", '#', class: "badge badge-info", 
        remote: true %>
      <%= link_to "Next Week", '#', class: "badge badge-inverse", remote: true %>
    </div>
  <% else %>
    <div class="remind_times"> 
    <%= form_for(current_user) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>
      <%= f.label :phone_number, "Please add a phone number first:", class: "phone_instructions" %>
      <%= f.telephone_field :phone_number, class: "phone_input" %>
      <%= f.submit "Add", class: "btn btn-small btn-primary phone_submit" %>
    <% end %>
    </div>
  <% end %>
</li>