<%= content_tag_for :li, note do %>
  <span class="content"><%= best_in_place note, :content  %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(note.created_at) %> ago.
  </span>

  <% if current_user == note.user %>
    <%= link_to '<i class="icon-trash"></i>'.html_safe, note, 
      method: :delete, data: { confirm: "You sure?" }, class: "trash" %>
    <%= link_to image_tag("reminder.png", alt: "reminder", size: "15x15"),'#', class: "remind" %>
    <div class="handle"><span class="icon-resize-vertical"></span></div>
  <% end %>

  <% unless current_user.sendhub_id.nil? %>
    <div class="btn-group remind_times">
      <button class="badge badge-success">Right Now</button>
      <button class="badge badge-warning">30 Minutes</button>
      <button class="badge badge-important">In an Hour</button>
      <button class="badge badge-info">Later Today</button>
      <button class="badge badge-inverse">Tomorrow</button>
    </div>
  <% else %>
    <div class="remind_times"> 
    <%= form_for(current_user) do |f| %>  
      <%= render 'shared/error_messages', object: f.object  %>
      <%= f.label :phone_number, "Please add a phone number first:", class: "phone_instructions" %>
      <%= f.telephone_field :phone_number, class: "phone_input" %>
      <%= f.submit "Add", class: "btn btn-small btn-primary phone_submit" %>
    <% end %>
    </div>
  <% end %>
  
<% end %>
