<input type="filepicker" class="btn btn-info" data-fp-apikey="AIEVEYpUyS9Srvu5qwlnJz" data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-multiple="true" data-fp-maxsize="10000000" data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GOOGLE_DRIVE,BOX,EVERNOTE,GITHUB,WEBCAM" onchange="out='';for(var i=0;i<event.fpfiles.length;i++){out+=event.fpfiles[i].url;out+=' '};alert(out)">

<span id="fat-menu" class="dropdown sort pull-right">
  <a href="#" class="dropdown-toggle sort-toggle" data-toggle="dropdown">
    Sort <b class="caret"></b>
  </a>
  <ul class="dropdown-menu sort-menu">
    <li> <%= link_to "Alphabetical (A-Z)", sort_by_path(:criteria => "lower(content) asc"), remote: true %> </li>
    <li> <%= link_to "Alphabetical (Z-A)", sort_by_path(:criteria => "lower(content) desc"), remote: true %> </li>
    <li><%= link_to "Date Created", sort_by_path(:criteria => "created_at desc"), remote: true %> </li>
    <li> <%= link_to "Last Updated", sort_by_path(:criteria => "updated_at desc"), remote: true %> </li>
    <li> <%= link_to "Custom Order", sort_by_path(:criteria => "position"), remote: true %> </li>
 </ul>
</span>
