<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= filepicker_js_include_tag %>
  <%= render 'layouts/shim' %>
</head>
<% if user_signed_in? %>
  <body>
    <%= render 'layouts/header_in' %>
    <div class="container" id="main_container">
      <%= render 'layouts/flash' %>
		  <%= yield %>
    </div>
  </body>
<% else %>
  <body id="signed_out">
    <%= render 'layouts/header_out' %>
    <div class="container" id="main_container">
      <%= render 'layouts/flash' %>
		  <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>

<% end %>
</html>
